
<div class="container">
    <div class="row">
      <app-navbar></app-navbar>
    </div>
    <div class="row">
      <app-carousel></app-carousel>
    </div>
  
    <div class="row">
        <div class="col"><app-cards  [img]="img1" [Title]="Title1" > </app-cards></div>
        <div class="col"><app-cards [img]="img2" [Title]="Title2" ></app-cards></div>
        <div class="col"><app-cards [img]="img3" [Title]="Title3"></app-cards></div>
        <div class="col"><app-cards [img]="img4" [Title]="Title4"></app-cards></div>
        <div class="col"><app-cards [img]="img5" [Title]="Title5" ></app-cards></div>
        <div class="col"><app-cards [img]="img6" [Title]="Title6" ></app-cards></div>
        <div class="col"><app-cards [img]="img7" [Title]="Title7" ></app-cards></div>
        <div class="col"><app-cards [img]="img8" [Title]="Title8" ></app-cards></div>
        <div class="col"><app-cards [img]="img9" [Title]="Title9" ></app-cards></div>
        <div class="col"><app-cards [img]="img10" [Title]="Title10"></app-cards></div>
  </div>
  
  </div>