<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <h1 class="navbar-brand" ><B>HappyTrip</B></h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
       
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Places to visit
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">COORG</a></li>
            <li><a class="dropdown-item" href="#">DANDELI</a></li>
            <li><a class="dropdown-item" href="#">HAMPI</a></li>
            <li><a class="dropdown-item" href="#">GOKARNA</a></li>
            <li><a class="dropdown-item" href="#">JOG-FALLS</a></li>
            <li><a class="dropdown-item" href="#">KARWAR</a></li>
            <li><a class="dropdown-item" href="#">BANGLORE</a></li>
            <li><a class="dropdown-item" href="#">MURUDESHWAR</a></li>
            <li><a class="dropdown-item" href="#">CHIKMANGALUR</a></li>
            <li><a class="dropdown-item" href="#">ISKON</a></li></ul>
        </div>
        
      </div>
    </div>
  </nav>
